.container {
  height: 145vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  margin-top: 10rem;
  gap: 2rem;
}

.infovideo {
  text-align: center;
  justify-content: center;
  line-height: 4rem;
}
.infovideo iframe {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.infovideo h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.infovideo p {
  color: black;
  text-align: center;
  font-size: 1.5rem;
}

.infovideo a {
  border: 1em;
  border-radius: 1em;
  background-color: red;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  padding: 0.5rem;
  color: snow;
}

.contenedor {
  background: url(../img/formmario.jpeg) no-repeat center;
  background-size: cover;
  display: inline-block;
  flex-direction: column;
  height: 80vh;
  width: 50vw;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem black;
  transition: all 0.5s ease;
  margin-top: 2rem;
}
.contenedor:hover {
  opacity: 0.85;
  border: solid 0.2rem white;
}
.contenedor p {
  color: black;
  justify-content: center;
  margin-top: 2rem;
  text-align: center;
  font-size: "Catamaran", sans-serif;
  padding: 0.5rem;
  line-height: 0.5rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.input {
  color: gray;
  align-self: center;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: "Catamaran", display;
  width: 30rem;
  height: 3rem;
  margin-bottom: 15px;
}

.opinion {
  color: gray;
  border-radius: 5px;
  font-family: "Catamaran", display;
  padding: 5px 10px;
  width: 30rem;
  height: 10rem;
  margin-top: 1rem;
}

.boton {
  background-color: snow;
  color: black;
  margin: 1rem;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Tilt Neon";
  font-size: 15px;
}
