/* .header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  background-color: rgb(16, 43, 225);
  align-items: center;
}
.brand {
  width: 25vw;
  height: 10vh;
} */

.menu {
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-image: url("../../public/Mariologo.svg");
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 27vh;
  width: 100vw;
  align-items: end;
  margin-bottom: 1rem;
}

.menu a {
  background-color: #ff0004;
  color: white;
  padding: 0.7rem 1.3rem;
  text-align: center;
  display: inline-block;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  width: 10rem;
  height: 4rem;
  text-decoration: none;
}
