.parrafouno {
  background: url(https://i.pinimg.com/564x/fc/ad/5c/fcad5ce5643c8a325fe0bebad9b4f654.jpg);
  background-size: cover;
  align-content: center;
  color: aliceblue;
  width: 50%;
  height: 50%;
  margin-left: 10rem;
  border-radius: 1rem;
  position: sticky;
  padding: 1rem;
  line-height: 2rem;
  border-radius: 1rem;
}

.parrafodos {
  background: url(https://i.pinimg.com/564x/fc/ad/5c/fcad5ce5643c8a325fe0bebad9b4f654.jpg);
  background-size: cover;
  align-content: center;
  color: aliceblue;
  width: 50%;
  height: 50%;
  margin-left: 38rem;
  border-radius: 1rem solid;
  padding: 1rem;
  line-height: 2rem;
  border-radius: 1rem;
}

.botones {
  background-color: #ff0004;
  color: white;
  padding: 0.5rem 0.5rem;
  text-align: center;
  display: inline-block;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  width: 8rem;
  text-decoration: none;
}

.fondo {
  /* background-color:  rgb(229, 229, 145); */
  cursor: url(img/Banzai.png), auto;
  display: fixed;
  width: 98.6%;
  display: flex;
  padding: 0.5rem;
  /* border: 0.1rem solid black; */
}

.pr {
  background: url(https://i.pinimg.com/564x/fc/ad/5c/fcad5ce5643c8a325fe0bebad9b4f654.jpg);
  background-size: cover;
  align-content: center;
  color: aliceblue;
  width: 80%;
  height: 80%;
  margin-top: -2%;
  border-radius: 1rem;
  margin-left: 5%;
  border-radius: 1rem;
  padding: 1rem;
}

.pr1 {
  background: url(https://i.pinimg.com/564x/fc/ad/5c/fcad5ce5643c8a325fe0bebad9b4f654.jpg);
  background-size: cover;
  align-content: center;
  color: aliceblue;
  width: 80%;
  height: 80%;
  margin-top: -2%;
  margin-left: 17%;
  border-radius: 1rem;
  padding: 1rem;
}

.pr2 {
  background: url(https://i.pinimg.com/564x/fc/ad/5c/fcad5ce5643c8a325fe0bebad9b4f654.jpg);
  background-size: cover;
  align-content: center;
  color: aliceblue;
  width: 80%;
  height: 80%;
  margin-top: -2%;
  margin-left: 20%;
  border-radius: 1rem;
  padding: 1rem;
}

.pr3 {
  background: url(https://i.pinimg.com/564x/fc/ad/5c/fcad5ce5643c8a325fe0bebad9b4f654.jpg);
  background-size: cover;
  align-content: center;
  color: aliceblue;
  width: 80%;
  height: 80%;
  margin-top: -2%;
  margin-left: 20%;
  border-radius: 1rem;
  padding: 1rem;
}
